<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-border panel-custom">
      <div class="panel-body">
        <h1>edit</h1>
        <%= render 'form', question: @question, languages: @languages %>
      </div>
    </div>
  </div>
</div>
