canvas {
  height: 50vh !important;
  width: auto;
}

canvas #genero {
  height: 50vh !important;
  width: auto;
}
canvas #residentes {
  height: 50vh !important;
  width: auto;
}
canvas #medico {
  height: 50vh !important;
  width: auto;
}
canvas #snsPrivado {
  height: 50vh !important;
  width: auto;
}
canvas #nSNS {
  height: 50vh !important;
  width: auto;
}
canvas #Dific {
  height: 50vh !important;
  width: auto;
}
