<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-border panel-custom">
      <div class="panel-body">
        <%= render 'form', statement: @statement, languages: @languages %>
      </div>
    </div>
  </div>
</div>
