<div class="video-container">
  <%#= video_tag '/assets/videos/mock.mp4', controls: true, preload: 'none' %>
  <video src="app/assets/videos/mock.mp4" controls="true" preload="none"></video>
</div>




<%= link_to 'admin', admin_users_path %>
