<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'contacts', contacts_path %> <br/>
<%= link_to 'links', links_path %> <br/>
<%= link_to 'questions', questions_path %> <br/>
<%= link_to 'statements', statements_path %> <br/>
